.home-banner {
  padding: 0 165px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* change to max-height: ; */
  height: 632px;
  /* background-color: #000000; */
  background-color: #0e0e0e;
}

.home-banner__content {
  color: #fff;
  display: flex;
  flex-direction: column;
  margin: 128px 0 158px 0;
  max-width: 398px;
}

.home-banner__overline {
  opacity: 0.5;
}

.home-banner__title {
}

.home-banner__paragraph {
  opacity: 0.75;
  max-width: 349px;
  margin-bottom: 40px;
}

.home-banner__image {
  max-width: 708.8px;
}
