.home-banner {
  padding: 0 165px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
  background-color: #0e0e0e;
}

.home-banner__content {
  color: #fff;
  display: flex;
  flex-direction: column;
  margin: 128px 0 158px 0;
  max-width: 398px;
}

.home-banner__title {
  margin: 0;
}

.home-banner__image-container {
}

.home-banner__image {
  max-width: 709px;
}
