.form {
  background-color: #fff;
  max-width: 730px;
  height: auto;
  padding: 48px 48px;
}

.form__title {
  margin-bottom: 41px;
}

.form__error {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: -0.214286px;
  color: #cd2c2c;
}

.form__subtitle {
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.928571px;
  text-transform: uppercase;
  color: #d87d4a;
  grid-column: 1/-1;
}

.form__label {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.214286px;
  color: #000000;
}

.form__input,
.form__payment-option {
  background: #ffffff;
  border: 1px solid #cfcfcf;
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  height: 56px;
  padding-left: 24px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.25px;
  color: #000000;
}

.form__input:focus {
  outline: none;
  border: 1px solid #d87d4a;
}

.form__name {
  grid-column: 1;
}

.form__shipping-info,
.form__billing,
.form__payment {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 53px;
  grid-auto-rows: min-content;
  grid-column-gap: 16px;
  grid-row-gap: 24px;
}

.form__radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #cfcfcf;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  appearance: none;
  border-radius: 50%;
  padding: 5px;
  background-color: #fff;
  background-clip: content-box;
}

.form__radio:checked {
  background-color: #d87d4a;
}

.form__payment-option {
  display: flex;
  align-items: center;
  gap: 16px;
  opacity: 1;
}

.form__cash-info {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.invalid-input:focus {
  border: 2px solid #cd2c2c !important;
}

::placeholder {
  font-family: Manrope;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.25px;
  color: #000000;
  opacity: 0.4;
}
