.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #f1f1f1;
  height: 204px;
  border-radius: 8px;
  flex: 1;
  color: #000000;
}

.category-card__image {
  position: absolute;
  height: 160px;
  top: -27%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.category-card__title {
  margin-top: 82px;
  margin-bottom: 15px;
}

.category-card__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.5;
  margin-right: 8px;
}

.category-card__link:hover {
  color: #d87d4a;
  opacity: 1;
}

.category-card__icon {
  width: 7px;
}
