.conformation-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9;
}

.conformation {
  position: absolute;
  top: 255px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 540px;
  background-color: #fff;
  padding: 48px;
  z-index: 10;
}

.conformation__title--wrapper {
  display: flex;
  justify-content: space-between;
}

.conformation_overview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #ffffff;
  margin: 33px 0 46px 0;
}

.conformation__items {
  background: #f1f1f1;
  border-radius: 8px;

  /* test */
  /* height: 93px;
  overflow: hidden; */
}

.conformation__item {
  width: 198px;
  display: flex;
  justify-content: space-between;
  margin: 24px;
}

.conformation__item--image {
  width: 50px;
  height: 50px;
}

.conformation__item--product-name {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
}

.conformation__item--price {
  font-size: 14px;
  line-height: 25px;
  color: #000000;
  opacity: 0.5;
}

.conformation__item--quantity {
  opacity: 0.5;
  color: #000000;
}

.conformation__total {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 198px;
  height: auto;
  background-color: #000000;
  border-radius: 0px 8px 8px 0px;
}

.expanded {
  align-items: flex-end;
  padding-bottom: 41px;
}

.conformation__total--wrapper {
  display: flex;
  flex-direction: column;
}

.conformation__total--title {
  opacity: 0.5;
  margin-bottom: 8px;
}
.conformation__total--price {
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
}

.conformation__expand--overview {
  border-top: 1px solid hsla(0, 0%, 0%, 0.116);
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.214286px;
  color: #000000;
  opacity: 0.5;
  margin: 12px 69px 24px 69px;
}

.conformation__expand--overview:hover {
  cursor: pointer;
  color: #d87d4a;
}
