body {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  font-style: normal;
  letter-spacing: 0px;
}

.container {
  margin: 0 165px;
}

.app {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  /* background-color: #000000; */
  background-color: #0e0e0e;
}

main {
}

footer {
  background-color: #101010;
}

/* Headlines */

h1 {
  text-transform: uppercase;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 2px;
}

h2 {
  font-size: 40px;
  text-transform: uppercase;
}

h3 {
  font-size: 32px;
  text-transform: uppercase;
}

h4 {
  font-size: 28px;
  text-transform: uppercase;
}

h5 {
  font-size: 24px;
  text-transform: uppercase;
}

h6 {
  font-size: 18px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1.3px;
}

.overline {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 10px;
}

/* Buttons */

.btn {
  height: 48px;
  width: 160px;
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  line-height: 18px;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.btn--outline {
  background-color: transparent;
  color: #000000;
  border: 1px solid #000000;
}

.btn--orange {
  background-color: #d87d4a;
  color: #fff;
}

.btn--orange:hover {
  background-color: #fbaf85;
}

.btn--outline:hover {
  background-color: #000000;
  color: #fff;
}
