.product-grid {
  display: grid;
  grid-gap: 48px;
  width: 1100px;
}

.product-ZX9 {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 560px;
  background-color: #d87d4a;
}

.product-ZX9__container {
  position: relative;
  justify-self: end;
  margin-top: 78px;
}

.product-ZX9__image {
  position: relative;
  max-width: 410px;
  justify-self: center;
  z-index: 4;
}

.product-ZX9__circles {
  position: absolute;
  top: -16%;
  left: -65%;
  right: 0;
  z-index: 1;
}

.product-ZX9__content {
  justify-self: center;
  margin-top: 100px;
  z-index: 1;
}

.product-ZX9__title {
  font: size 56px;
  color: #fff;
  max-width: 261px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 2px;
  margin-bottom: 16px;
}

.product-ZX9__paragraph {
  max-width: 349px;
  color: #ffffff;
  opacity: 0.75;
  margin-bottom: 40px;
}

/* Product ZX7 */

.product-ZX7 {
  height: 320px;
  background-image: url("/src/assets/image-speaker-zx7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.product-ZX7__content {
  margin-left: 20px;
  padding: 101px 0 101px 95px;
}

.product-ZX7__title {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

/* Product YX1*/

.product-YX1 {
  height: 320px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}

.product-YX1__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 32px; */
  background-color: #f1f1f1;
}

.product-YX1__title {
  margin-bottom: 32px;
}

.product-YX1__align--left {
  text-align: left;
}

.product-YX1__image {
  background-image: url("/src/assets/image-earphones-yx1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
