body {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  font-style: normal;
  letter-spacing: 0px;
}

.container {
  margin: 0 165px;
}

.container--productDetail {
  margin: 160px 165px 0 165px;
}

.container--checkout {
  background-color: #f2f2f2;
  padding: 165px 142px 141px 165px;
}

.app {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

header {
  background-color: #0e0e0e;
}

main {
}

footer {
  background-color: #101010;
}

/* Headlines */

h1 {
  text-transform: uppercase;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 2px;
}

h2 {
  font-size: 40px;
  text-transform: uppercase;
}

h3 {
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.14286px;
  text-transform: uppercase;
}

h4 {
  font-size: 28px;
  text-transform: uppercase;
}

h5 {
  font-size: 24px;
  text-transform: uppercase;
}

h6 {
  font-size: 18px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1.3px;
}

.overline {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 10px;
}

/* needs on place or file html code is in productHeadphones page */
.productDetail__features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 180px;
}

.accessories {
  justify-self: center;
  margin-top: 10px;
}

.accessories__element {
  display: flex;
  gap: 24px;
}

.accessories__title {
  margin-bottom: 32px;
}

.accessories__quantity {
  color: #d87d4a;
}

.accessories_name {
  opacity: 0.5;
}

/* Animations */
.animate__animated.animate__fadeIn {
}
