body {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  font-style: normal;
  letter-spacing: 0px;
}

.container {
  margin: 0 165px;
  max-width: 1100px;
}

.container--productDetail {
  margin: 160px 165px 0 165px;
}

.container--checkout {
  background-color: #f2f2f2;
  padding: 165px 142px 141px 165px;
}

.app {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

header {
  background-color: #0e0e0e;
}

main {
}

footer {
  background-color: #101010;
}

/* Headlines */

h1 {
  text-transform: uppercase;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 2px;
}

h2 {
  font-size: 40px;
  text-transform: uppercase;
}

h3 {
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.14286px;
  text-transform: uppercase;
}

h4 {
  font-size: 28px;
  text-transform: uppercase;
}

h5 {
  font-size: 24px;
  text-transform: uppercase;
}

h6 {
  font-size: 18px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1.3px;
}

.overline {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 10px;
}

/* needs on place or file html code is in productHeadphones page */
.productDetail__features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 180px;
}

.accessories {
  justify-self: center;
  margin-top: 10px;
}

.accessories__element {
  display: flex;
  gap: 24px;
}

.accessories__title {
  margin-bottom: 32px;
}

.accessories__quantity {
  color: #d87d4a;
}

.accessories_name {
  opacity: 0.5;
}

/* Animations */
.animate__animated.animate__fadeIn {
}

.tablet-image {
  display: none;
}

/* Media queries */

@media only screen and (max-width: 768px) {
  /* General */

  .container {
    margin: 0 40px;
  }

  .desktop-image {
    display: none;
  }

  .tablet-image {
    display: block;
  }

  /* Home-Banner */

  .home-banner {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 0 0;
  }

  .home-banner__content {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    text-align: center;
    align-items: center;
  }
  .home-banner__image {
    grid-column: 1;
    grid-row: 1;
    z-index: 0;
  }

  /* Product-Grid */

  .product-grid {
    grid-template-columns: 1fr;
  }

  .product-ZX9 {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
  }

  .product-ZX9__container {
    justify-self: center;
  }

  .product-ZX9__image.tablet-image {
    width: 197.21px;
  }

  .product-ZX9__content {
    /* margin-top: 0; */
    display: grid;
    justify-items: center;
    margin-bottom: 64px;
    text-align: center;
  }

  .product-ZX9__circles {
    top: -129%;
    left: -182%;
  }

  .product-ZX7 {
    background-image: url("/src/assets/image-speaker-zx7-tablet.jpg");
  }

  .product-ZX7__content {
    padding: 101px 0 101px 60px;
  }

  .product-YX1__image {
    background-image: url("/src/assets/image-earphones-yx1-tablet.jpg");
  }

  /* Show-Intro */

  .intro {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }

  .intro__content,
  .intro__content h2 {
    max-width: 573px !important;
  }

  .intro__image-container {
    grid-row: 1;
    max-width: 689px;
  }

  .intro__image {
    max-width: 100%;
  }

  /* Footer */

  .footer {
    padding: 60px 40px 46px 40px;
    grid-template-columns: 1fr;
  }

  .footer__social-links {
    grid-row: 4;
  }

  .footer__nav-links {
    grid-column: 1;
    grid-row: 2;
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 375px) {
  .container {
    margin: 55px 20px;
  }
}
