.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1100px;
}

.intro__image {
  justify-self: end;
}

.intro__content {
  max-width: 445px;
  align-self: center;
}

span {
  color: #d87d4a;
}
